        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        html{
            font-size: 62.5%;
        }
        body{
            margin: 0;
            background-color: #E5EBEA;  
            font-family: 'Roboto', sans-serif;
        }
        img{
            max-width: 100%;
            z-index: -1;
        }
        /* Estilos de la barra de navegación */
        ul.nav {
            list-style-type: none;
            background-color: #1F1A38;
            overflow: hidden;
            margin-top: 0;
            padding-left: 0;
        }
        li.nav-item {
            display: inline-block;
        }
        li.nav-item a {
            display: block;
            color: #E5EBEA;
            text-align: center;
            padding: 1.4rem 1.6rem;
            text-decoration: none;
        }

        /* Cambiar el color del enlace cuando se pasa el cursor sobre él */
        li.nav-item a:hover {
            background-color: #20FC8F;
            color: black;
        }

        /* Estilo para el enlace deshabilitado */
        li.nav-item.disabled a{
            color: rgb(160, 159, 159);
            pointer-events: none; /* Evitar que el enlace sea clickeable */
        }

        .dropdown:hover .subnav-item {
            display: block;
        }
        
        .subnav-item {
            display: none;
            position: absolute;
            background-color: #333;
            padding: 1rem;
            list-style-type: none;
        }
        
        .subnav-item ul {
            margin: 0;
        }
        
        .subnav-item li a {
            color: #fff;
            text-decoration: none;
        }
        
        .subnav-item li a:hover {
            background-color: #555;
        }
